.header {
    width: 100%;
    height: 52px;
    background: #0f172a;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header svg {
    width: 86px;
    height: 18px;
}

.header button {
    width: 111px;
    height: 29px;
    background: #01bc8d;
    color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 17px;
    padding: 0px 13px;
    outline: 0px;
    border: 0px;
}
.header button svg {
    width: 19px;
    height: 19px;
}
.header button h2 {
    margin-bottom: 1px;
    font-size: 13px;
}

.header .menu {
    width: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .menu .button-menu {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 1.8px solid #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .menu .profile svg {
    margin-left: -1px;
    width: 11px;
    height: 14px;
}
.header .menu .info svg {
    width: 14px;
    height: 14px;
}
.header .menu .burger-menu svg {
    width: 14px;
    height: 14px;
}

.header .menu2{
    width: 120px;
}
.header .menu2 .line{
    width: 1px;
    height: 21px;
    background: rgba(243, 243, 243, 0.08);
}


.header .blocks{
    min-width: 400px;
    max-width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    /* background: red; */
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
}