.Market{
    width: 100%;
    height: 90vh;
    background: linear-gradient(180deg, #121E3A 0%, #0E1525 100%);
    z-index: 2;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    transition: .4s;
}
.MarketActive{
    transform: translateY(0%);
}

.Market .headline{
    width: 100%;
    height: 26px;
    margin-top: 13px;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

.Market .searchCoin{
    width: 100%;
    height: 36px;
    padding: 0px 15px;
    display: flex;
    margin-top: 21px;
}
.Market .searchCoin .searchIco{
    width: 45px;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    background: #0e1626;
    padding-left: 15px;
    display: flex;
    /* justify-content: center; */
    align-items: center; 
}
.Market .searchCoin input{
    width: calc(100% - 45px);
    background: #0e1626;
    border-radius: 0px 20px 20px 0px;
    font-weight: 500;
    font-size: 13px;
    color: rgba(243, 243, 243, 0.4);
    outline: 0px;
    border: 0px;
}


.Market .menu{
    width: 100%;
    height: 23px;
    padding: 0px 20px;
    display: flex;
    margin-top: 16px;
    border-bottom: 1px solid rgba(243, 243, 243, 0.08);
}
.Market .menu p{
    font-weight: 500;
    font-size: 13px;
    color: rgba(243, 243, 243, 0.4);
    margin-left: 24px;
}
.Market .menu p:nth-child(1){
    margin-left: 0px;
}
.Market .menu .active{
    color: #f3f3f3;
}


.Market .sampleBlock{
    width: 100%;
    min-height: 50vh;
    max-height: 100vh;
    margin-top: 15px;
}
.Market .sampleBlock .spot{
    width: 100%;
    max-height: 100%;
}
.Market .sampleBlock .spot > ul{
    width: 100%;
    display: flex;
    list-style-type: none;
    font-weight: 500;
    font-size: 10px;
    color: rgba(243, 243, 243, 0.4);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}
.Market .sampleBlock .spot > ul li:nth-child(2){
    margin-left: 15%;
}


.Market .sampleBlock .spot .list ul{
    width: 100%;
    display: flex;
    list-style-type: none;
    color: rgba(243, 243, 243, 0.4);
    padding: 0px 20px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    padding: 0px 20px;
}


.Market .sampleBlock .spot .list ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    transition: .4s;
}
.Market .sampleBlock .spot .list ul li:hover{
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}
.Market .sampleBlock .spot .list ul li .currency{
    width: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Market .sampleBlock .spot .list ul li .currency h4{
    font-size: 13px;
    color: #f3f3f3;
}
.Market .sampleBlock .spot .list ul li .currency h4 span{
    color: rgba(243, 243, 243, 0.4);
}
.Market .sampleBlock .spot .list ul li .lastPrice{
    color: #f3f3f3;
}
.Market .sampleBlock .spot .list ul li .precent{
    font-weight: 500;
    color: #01bc8d;
}
